<section class="new_stories_section">
  <div class="new_stories_section__left">
    <h1 class="new_stories_section__left__title">News & Stories</h1>
    <p class="new_stories_section__left__desc">
      Find out what’s happening now within St. Luke’s Pediatrics: <br> Get the latest
      news. Read about what’s new at St. Luke’s Pediatrics and hear from our
      experts. <br> Read inspiring testimonials. See what our extraordinary patients
      are saying about the care we provide
    </p>
  </div>
  <div class="new_stories_section__right"></div>
</section>
