/*================  color  ============================*/

$white:white;
$very-light-red:#FFFFFF9B;
$paint-chip:#468CBB;
$cerrlean-frost:#6EABBF;
$black:#000000;
$light-blue:#589BC7;
$magenta-pink:#ff0096;
$electric-violet:#da0f8a;
$grey:#999;
$bluebarry:#f73ba9;
$grey44:#707070;
$metallic-seaweed:#0D5F95;
$dark-red:#b20303;
$kingly-cloud:#dedede;
$white-smoke:#f5f5f5;
$cerulean-frost:#5B99C2;

$carousel_active_btn_color: #f05b14;
$carousel_btn_color: #e1dada;

$title_color: #0077cd;
$light-blue : #279ef3;
// ================== button vars =======================
$button_bg_blue : rgb(87, 87, 249);
$button_bg_orange : #F05B14;
$button_text_white : white;
$button_bg_white : white;
$button_text_blue : #0077CD;
$button_text_orange: #F05B14;

// ====== Vaccine card vars ===========================
$vaccine_card_color: #0077cd;

$card_bg_orange : #F05B14;

// ===== Footer Variables =============================
$footer-dark-bg: #000;
$footer-light-bg: #151515;
$new_stories_card_title_color : #0077CD;
$title_color : #0077CD;
$link_color : #0077CD;
$icon-color : #0077CD;
$card_badge_bg_color : #0077CD;
$gray-color : #C4C4C4;
$orange-color : #F05B14;
$blue_bg_color : #0077CD;
$border_color : #cfdbde;
$color-primary : #353435;
$btn-hover : #ca4e0a;
$form-validation : #DD5917;
$light-gray : #F0F0F0;
$a-color : #D83A00;
$gray-bg : #F5F5F5;
$gray-bg-variant : #F7F7F7;
/*================  font-family  ========================*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@300;400;500;600;700;800&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');

$openSans: 'Open Sans', sans-serif;
$bodoni: 'Bodoni Moda', serif;
$arimo: 'Arimo', sans-serif;


/*===============  font-weight variable  ==================*/

$font-semi-bold:600;
$font-bold:bold;
$font-medium:500;
$font-light:300;
$font-normal:normal;

