<section class="woods">
    <div class="woods-texture">
        <div class="woods-texture__btns">
          <p>Filter:</p>
          <button data-for-tab="all" class="woods-texture__btns__btn active">All</button>
          <button data-for-tab="red" class="woods-texture__btns__btn">Reds</button>
          <button data-for-tab="brown" class="woods-texture__btns__btn">Browns</button>
          <button data-for-tab="grey" class="woods-texture__btns__btn">Greys</button>
        </div>
        <div  class="woods-texture__images"></div>
      </div>
<div class="carousel-container"></div>
     
</section>


