<section class="near-zip">
    <div class="near-zip__location">
        <p class="near-zip__location__text">Closest location to </p>
        <span  class="near-zip__location__code"></span>
        <button class="near-zip__location__btn"><i class="fas fa-pencil-alt near-zip__location__btn__icon"></i></button>
    </div>
    <div class="near-zip__container">
        <div class="near-zip__container__inner">
            <p class="near-zip__container__inner__heading">ZIP Code</p>
            <input class="near-zip__container__inner__input" type="number" placeholder="Enter your ZIP code">
            <button class="button button_text_white near-zip__container__inner__btn">Search</button>
        </div>
    </div>
</section>
<section id="googleMap" style="width:100%;height:500px;"></section>