<footer class="my-footer-2">
  <div class="my-footer-2__container">
    <div class="my-footer-2__container__left">
      <div class="my-footer-2__container__left__part1">
        <h1 class="my-footer-2__container__left__part1__title">866-STLUKES</h1>
        <p class="my-footer-2__container__left__part1__desc">
          Ut sagittis, magna eget venenatis convallis, nulla tortor dictum quam,
          at dignissim est magna nec velit. Donec ultrices, arcu ac vulputate
          malesuada, nibh erat maximus massa
        </p>
        <div class="my-footer-2__container__left__part1__icons-container">
          <a href=""> <i class="fab fa-facebook"></i></a>
          <a href=""> <i class="fab fa-instagram"></i></a>
          <a href=""> <i class="fab fa-linkedin"></i></a>
          <a href=""> <i class="fab fa-twitter"></i></a>
          <a href=""> <i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="my-footer-2__container__left__part2">
        <div class="my-footer-2__container__left__part2__upper">
          <div class="my-footer-2__container__left__part2__upper__first">
            <h4
              class="my-footer-2__container__left__part2__upper__first__title"
            >
              RESOURCES
            </h4>
            <a
              class="my-footer-2__container__left__part2__upper__first__link"
              href=""
              >Bill Pay
            </a>
            <a
              class="my-footer-2__container__left__part2__upper__first__link"
              href=""
              >MyChart</a
            >
            <a
              class="my-footer-2__container__left__part2__upper__first__link"
              href=""
              >Visitation Policy</a
            >
            <a
              class="my-footer-2__container__left__part2__upper__first__link"
              href=""
              >Pharmacy</a
            >
          </div>
          <div class="my-footer-2__container__left__part2__upper__second">
            <h4
              class="my-footer-2__container__left__part2__upper__second__title"
            >
              COMMUNITY
            </h4>
            <a
              class="my-footer-2__container__left__part2__upper__second__link"
              href=""
              >Support</a
            >
            <a
              class="my-footer-2__container__left__part2__upper__second__link"
              href=""
              >Veterans
            </a>
            <a
              class="my-footer-2__container__left__part2__upper__second__link"
              href=""
            >
              Volunteer
            </a>
            <a
              class="my-footer-2__container__left__part2__upper__second__link"
              href=""
              >Way To Give</a
            >
          </div>
          <div class="my-footer-2__container__left__part2__upper__third">
            <h4
              class="my-footer-2__container__left__part2__upper__third__title"
            >
              ABOUT
            </h4>
            <a
              class="my-footer-2__container__left__part2__upper__third__link"
              href=""
              >For Employees</a
            >
            <a
              class="my-footer-2__container__left__part2__upper__third__link"
              href=""
              >History
            </a>
            <a
              class="my-footer-2__container__left__part2__upper__third__link"
              href=""
            >
              Leadership
            </a>
            <a
              class="my-footer-2__container__left__part2__upper__third__link"
              href=""
              >Values</a
            >
          </div>
        </div>
        <div class="my-footer-2__container__left__part2__lower">
          Vendors | EOE | Privacy | Public Notice | Terms of Use
        </div>
      </div>
    </div>
    <div class="my-footer-2__container__right">
      <h4 class="my-footer-2__container__right__title">CAREERS</h4>
      <p class="my-footer-2__container__right__desc">
        Aliquam ultricies elementum augue, dignissim dapibus urna. Aenean nec
        venenatis purus. Duis in vehicula turpis, ac vestibulum nibh. Cras
        hendrerit sollicitudin enim consequat auctor. Mauris sed ornare nulla.
        In fringilla dui venenatis molestie
      </p>
      <button
        class="button button_text_white my-footer-2__container__right__btn"
      >
        Work with us!
      </button>
      <p class="my-footer-2__container__right__copyright">
        © Copyright 2022 St. Luke’s. All rights reserved. Headquartered in
        Bethlehem, Pennsylvania
      </p>
    </div>
  </div>
</footer>
