<section class="norc-form">
    <h1 class="norc-form__heading">Verify any Field Interviewer’s ID</h1>
    <p class="norc-form__desc">Use this form to verify a NORC field interviewer’s identification details.</p>
    <p class="norc-form__detail">All fields are required unless marked as optional</p>
    <form action="">
<div class="norc-form__container">
    <label class="norc-form__container__label" data-tab="employeeId" for="employeeId">Employee ID</label>
    <input class="norc-form__container__input input-mb" data-for-tab="employeeId" type="text">
    <p class="norc-form__container__warning" id="employeeIdWarning">Please enter Employee ID</p>
    <div class="norc-form__container__icons">
        <i class="fas fa-check norc-form__container__icons__check" id="employeeIdCheck"></i>
        <i class="fas fa-exclamation-circle  norc-form__container__icons__exclamation" id="employeeIdExclamation"></i>
    </div>
 
</div>
<div class="norc-form__container">
    <label class="norc-form__container__label" data-tab="lastname" for="lastname">Last Name</label>
    <input class="norc-form__container__input input-mb" data-for-tab="lastname" type="text">
    <p class="norc-form__container__warning" id="lastnameWarning">Please enter Employee Last Name</p>
    <div class="norc-form__container__icons">
        <i class="fas fa-check norc-form__container__icons__check" id="lastnameCheck"></i>
        <i class="fas fa-exclamation-circle norc-form__container__icons__exclamation" id="lastnameExclamation"></i>
    </div>
   
</div>
<button class="norc-form__btn button">Search <i class="fas fa-search norc-form__btn__icon"></i></button>
</form>
</section>