<section class="vaccine__card">
  <div class="vaccine__card__left-part">
    <h1 class="vaccine__card__left-part__title">
      The COVID-19 vaccine is now available for children ages 5-11
    </h1>
    <p class="vaccine__card__left-part__description">
      The vaccine is safe and effective in preventing COVID-19 in children. Need
      to make an appointment? Visit our
      <span class="text_bold">Coronavirus Digital Resource Center</span> for
      more information.
    </p>
    <a href="" class="vaccine__card__left-part__button">Learn More</a>
  </div>
  <div class="vaccine__card__right-part">
    <img
      class="vaccine__card__right-part__image"
      src="../../images/vaccine_card.png"
      alt="vaccine_image"
      aria-label="girl taking vaccine"
    />
  </div>
</section>
