<section class="pediatrics-container">
  <div class="pediatrics-container__text">
    <!-- just for reference -->
    <img class="pediatrics-container__text__img" src="../../images/stlukes_pediatrics_logo_1.png" alt="">
    <p class="pediatrics-container__text__sub-title">Commited to quality healthcare</p>
    <p class="pediatrics-container__text__desc">
      St. Luke’s is committed to providing high-quality health care to children
      of all ages. Our board-certified pediatricians and expert advanced
      practitioners see patients at our primary care pediatric practices located
      throughout the Lehigh Valley and surrounding areas. <br> <br> Our physicians and
      advanced practitioners treat young patients in a manner that is
      comfortable for the child and comforting for parents. We understand that
      children are not small adults; their developing bodies may require special
      medications and different medical treatments.
    </p>
    <a class="pediatrics-container__text__link" href="">View our services <img class="pediatrics-container__text__link__logo" src="../../images/pathlogo.png" alt=""></a>
  </div>
  <div class="pediatrics-container__card ">
    <img class="pediatrics-container__card__image" src="../../images/doctor_examine_boy.png" alt="doctor checking kid">
    <div class="pediatrics-container__card__text">
     <h1 class="pediatrics-container__card__text__title">Find a doctor near you</h1>
     <p  class="pediatrics-container__card__text__desc">Practices are conveniently located in your neighborhood.</p>
     <button class="pediatrics-container__card__text__btn button button_bg_white button_text_orange"><img class="pediatrics-container__card__text__btn__img" src="../../images/stethoscope.png" alt=""> Find a doctor</button>
    </div>
    <div>

    </div>
  </div>
</section>
